@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*   General   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 auto;
}

/*   Header   */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #1565c0;
  position: relative;
  color: #fff;
}

.fa-chess {
  position: absolute;
  top: -1px;
  left: -30px;
  font-size: 2rem;
}

.logoSide {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 70px;
  transition: 0.3s;
  font-size: 1.5rem;
}

.logoSide:hover {
  transform: scale(1.1);
}

.logoSide h3 {
  margin-left: 15px;
}

.rightSide {
  margin-right: 70px;
}

.rightSide a {
  outline: none;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

/*   Main   */

.headLine {
  width: 100%;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headLine h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.6;
  text-align: center;
}

.headLine h3 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}

.cards {
  background-color: #fafafa;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  padding: 50px 0;
  margin: 20px;
  margin-bottom: 150px;
  /* width: 100%; */
}

.card {
  min-width: 350px;
  background-color: #fff;
  height: 500px;
  border: 1px solid rgb(219, 229, 230);
  border-radius: 10px;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.2); */
}

.card-content {
  height: 100%;
}

.image-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  width: 100%;
  height: 50%;
}

.image-wrapper img {
  display: block;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  width: 100%;
}

.image-wrapper img:hover {
  transform: scale(1.05);
}

.text-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

.text-content a {
  color: rgb(28, 32, 34);
  font-size: 1.375rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
  margin-bottom: 20px;
}

.text-content a:hover {
  text-decoration: underline;
}

.card-details {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.technology {
  font-weight: 700;
  font-size: 1.125rem;
}

.technology span + span {
  margin-left: 0.625rem;
}

.html {
  color: rgb(106, 190, 205);
}

.css {
  color: rgb(62, 84, 163);
}

.js {
  color: rgb(207, 99, 144);
}

.api {
  color: rgb(170, 215, 66);
}

.difficulty {
  border-radius: 5px;
  border: 1px solid rgb(241, 182, 4);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.borderLev2 {
  border: 1px solid rgb(170, 215, 66);
}

.borderLev1 {
  border: 1px solid rgb(106, 190, 205);
}

.level1 {
  background-color: rgb(106, 190, 205);
  color: #fff;
  padding: 0.2rem 0.5rem;
}

.level1 + span {
  background-color: transparent;
  padding: 0 0.5rem;
  color: rgb(106, 190, 205);
}

.level2 {
  background-color: rgb(170, 215, 66);
  color: #fff;
  padding: 0.2rem 0.5rem;
}

.level2 + span {
  background-color: transparent;
  padding: 0 0.5rem;
  color: rgb(170, 215, 66);
}

.level3 {
  background-color: rgb(241, 182, 4);
  color: #fff;
  padding: 0.2rem 0.5rem;
}

.level3 + span {
  background-color: transparent;
  padding: 0 0.5rem;
  color: rgb(241, 182, 4);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons a {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  border-radius: 0.5rem;
  padding: 0.5rem 0.9rem;
  margin: 0;
  background: #1565c0;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.buttons a:hover {
  background: #fff;
  color: #1565c0;
  border: 1px solid #1565c0;
  text-decoration: none;
  transform: translateY(-0.2rem);
}

.buttons a:active {
  transform: scale(0.98);
}

/*   Footer   */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footerBgWave {
  width: 100%;
  min-height: 330px;
  height: 350px;
  background-image: url("/img/Wave\ footer.svg");
  background-size: cover;
  background-position: center;
}

.footerBg {
  background-color: #1565c0;
  width: 100%;
  height: 100px;
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.quote q {
  font-size: 2.5rem;
  font-weight: 500;
}
.quote p {
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  margin: 20px 0 0 50%;
}

.lastRow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  width: 100%;
  text-align: center;
  height: 60px;
}

.fa-heart {
  margin: 0 5px;
  color: red;
}

/*   Modal   */
.modalBtn {
  background: #1565c0;
  padding: 0.7rem 1.2rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 8px 30px 0 0;
  border: 1px solid #f5f5f5;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 8px;
  transition: all 0.2s linear;
}

.modalBtn:hover {
  background: #fff;
  color: #1565c0;
  border: 1px solid #fff;
}

.modalBtn:active {
  transform: scale(0.98);
}

.fa-user {
  margin-right: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.575);
}

.modal-content {
  z-index: 5;
  position: relative;
  background-color: #e8f2fc;
  margin: 15% auto;
  width: 770px;
  height: 350px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation: modalopen 1s;
  border-radius: 8px;
}

.closeBtn {
  color: #bbbbbb;
  position: absolute;
  top: 0;
  right: 15px;
  font-weight: 500;
  font-size: 50px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  cursor: pointer;
}

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  padding: 20px;
}

.bike-time {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 30px;
}

.link-to-frontendmentor {
  text-decoration: none;
  color: #1565c0;
  position: relative;
}

.link-to-frontendmentor::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background-color: #1565c0;
  left: 0;
  bottom: -1px;
  transition: all 0.5s ease;
}

.link-to-github {
  text-decoration: none;
  color: #1565c0;
  font-weight: 700;
  letter-spacing: 2px;
  border: 0;
  position: relative;
}

.link-to-github::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #1565c0;
  left: 0;
  bottom: -1px;
  transition: all 0.5s ease;
}

.link-to-github:hover:after,
.link-to-frontendmentor:hover:after {
  width: 100%;
  left: 0;
}

.aboutMe h2 {
  margin-bottom: 20px;
}

.aboutMe p {
  font-size: 1.2rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*   Media Queries   */

@media (max-width: 1200px) {
  .container {
    margin-bottom: 100px;
    grid-template-columns: repeat(2, 350px);
  }
}

@media (max-width: 800px) {
  .aboutMe {
    flex-direction: column;
  }
  .modal-content {
    width: 500px;
    height: 500px;
    margin: 30% auto;
  }
  .bike-time {
    width: 250px;
    height: 250px;
  }
  .headLine h1 {
    line-height: 1;
    margin-bottom: 20px;
  }
  .headLine h3 {
    line-height: 1.2;
  }
  .quote {
    width: 80%;
  }
  .quote q {
    font-size: 1.7rem;
  }
  .quote p {
    font-size: 1rem;
  }
  .container {
    margin-bottom: 70px;
    grid-template-columns: repeat(1, 350px);
  }
}

@media (max-width: 600px) {
  .modal-content {
    width: 350px;
    height: 450px;
    margin: 40% auto;
  }
  .bike-time {
    width: 200px;
    height: 200px;
  }
  .aboutMe p {
    font-size: 1rem;
  }
  .aboutMe h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .logoSide {
    margin-left: 50px;
  }
  .logoSide h3 {
    font-size: 1rem;
    margin: 0;
  }
  .fa-chess {
    font-size: 1.2rem;
  }
  /* .rightSide {
    margin-right: 30px;
  }
  .rightSide a {
    font-size: 0.9rem;
  } */
  .container {
    grid-template-columns: minmax(300px, 1fr);
    margin: auto;
    /* justify-content: stretch; */
  }
  .card {
    min-width: 300px;
    background-color: #cacaca;
    height: auto;
    margin: 10px 10px 0;
  }
  .card img {
    min-width: 300px;
    height: 200px;
  }
  .card p {
    font-size: 0.8rem;
  }
  .headLine {
    margin: 40px auto;
  }
  .headLine h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1;
  }
  .headLine h3 {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.6;
  }
  .footerBgWave {
    height: 200px;
  }
  .quote {
    width: 90%;
  }
  .quote q {
    font-size: 1.2rem;
  }
  .quote p {
    font-size: 0.7rem;
  }

  .modalBtn {
    font-size: 0.8rem;
  }

  .text-content {
    background-color: #fff;
    padding: 20px 10px;
  }

  .technology span + span {
    margin-left: 0.2rem;
  }

  .buttons a {
    font-size: 0.8rem;
  }
}
