* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

main {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
}

.container {

}

.overview_board {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(3, 125px);
}

.overview {
    background-color: hsl(228, 34%, 66%);
}