@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}

.container {
    max-width: 1440px;
    margin: 70px auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

header {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-weight: 200;
    margin: 0 0 20px 0;
}

h1 span {
    font-weight: 600;
    display: inline-block;
}

.card {
    position: relative;
    background-color: #fff;
    width: 350px;
    padding: 30px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.07), 0 6px 6px rgba(0,0,0,0.1);
    overflow: hidden;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.card h2 {
    margin: 0;
}

.card p {
    font-size: .9rem;
    margin: 10px 0 40px 0;
}

.card img {
    display: block;
    margin-left: auto;
}

.inLine {
    transform: translateY(50%);
}

.supervisor::after {
    background-color: hsl(180, 62%, 55%);
}

.teamBuilder::after {
    background-color: hsl(0, 78%, 62%);
}

.karma::after {
    background-color: hsl(34, 97%, 64%);
}

.calculator::after {
    background-color: hsl(212, 86%, 64%);
}


@media (max-width: 800px) {
    .inLine {
        transform: translateY(0);
    }
    main {
        margin-top: 40px;
    }
    .card {
        margin: 15px 30px;
    }
    
}

@media (max-width: 600px) {
    header {
        margin: 0 30px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 1.3rem;
    }
    header p {
        font-size: 0.8rem;
    }
    .card p {
        font-size: .8rem;
        margin: 10px 0 20px 0;
    }
}