* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
}

main {
    margin: 4.5rem 0 7.5rem 0;
}

h2 {
    font-family: 'Overpass', sans-serif;
    ;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}

h3 {
    font-family: 'Overpass', sans-serif;
    ;
    font-size: 1.575rem;
    font-weight: 600;
    color: hsl(208, 49%, 24%);
    padding-bottom: 30px;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(207, 13%, 34%);
    line-height: 1.7;
    letter-spacing: .025rem;
}

header {
    background-image: url('images/bg-pattern-intro.svg'), linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 220%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 25% 52%, 0% 0%;
    height: 600px;
    width: 100%;
    border-radius: 0 0 0 90px;

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 50px 10vw 0 10vw;

    .logo {
            margin-right: 60px;
        }

    button {
        border: none;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
    }

    .links {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        justify-content: space-around;
        justify-items: start;
        width: 100%;
        position: relative;

        // .product {
        //     position: relative;
        // }
        
        // .product {
        //     position: relative;
        // }

        .active.dropdown_content {
                display: flex;
            }

            // .dropbtn:hover .dropdown_content {
            //     display: flex;
            // }
        
            .dropdown_content {
                display: none;
                position: absolute;
                left: -20px;
                top: 60px;
                background-color: #fff;
                min-width: 160px;
                flex-direction: column;
                border-radius: 5px;
                padding: 30px 20px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.15);
                transition: 0.2s ease;
        
                a {
                    // position: absolute;
                    //     left: -20px;
                    //     top: 70px;
                    padding-bottom: 20px;
                    color: #000;
                    text-decoration: none;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 400;
                    transition: 0.2s ease;
                }
        
                a:hover {
                    font-weight: 700;
                }
        
                a:last-child {
                    padding-bottom: 0;
                }
            }

        .active.arrow {
            transform: rotate(180deg);
        }

                .company {
                    left: 5rem;
                }

                .connect {
                    left: 12rem;
                }

        .uName {
            border-bottom: 2px solid transparent;
            transition: 0.2s ease;
            opacity: 0.8;
        }        

        .active.uName {
            border-bottom: 2px solid #fff;
            opacity: 1;
        }
        
        .dropbtn {
            background-color: transparent;
            border: none;
            color: #fff;
            cursor: pointer;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            letter-spacing: 0.3px;
            font-size: 1rem;
            min-width: 100px;
            text-align: center;
            

            img {
                    transition: all 0.3s ease;
                }
        }
         
            .login_link {
                grid-area: 1/7/1/8;
                color: #fff;
                margin-right: 30px;
                font-family: 'Overpass', sans-serif;
                font-weight: 700;
                font-size: 0.85rem;
                text-decoration: none;
                opacity: 0.9;
                transition: 0.2s ease;
               
            }

            .login_link:hover {
                text-decoration: underline;
            }

            .sign_up {
                grid-area: 1/8/-1/-1;
                width: 140px;
                background-color: #fff;
                color: hsl(356, 100%, 66%);
                font-family: 'Overpass', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                border: none;
                padding: 15px 35px 13px 35px;
                border-radius: 50px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
                cursor: pointer;
                transition: 0.2s ease;
            }
            .sign_up:hover {
                background-color: hsl(355, 100%, 74%);
                color: #fff;
            }
        
    }
    .hamburger {
        display: none;
        color: #fff;
        cursor: pointer;
    }

    .line {
        height: 4px;
        background-color: #fff;
        width: 60px;
        margin-bottom: 10px;
        transition: all .35s ease;
    }
}

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;

        .hero-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                color: #fff;
                font-family: 'Overpass', sans-serif;
                font-size: 4rem;
                font-weight: 600;
                margin-bottom: 10px;
                text-align: center;
            }

            p {
                color: #fff;
                font-family: 'Overpass', sans-serif;
                font-size: 1.25rem;
                font-weight: 500;
                margin-bottom: 40px;
                letter-spacing: 1px;
                opacity: 0.9;
            }
        }

        .hero-buttons {

            .start {
                background-color: #fff;
                color: hsl(356, 100%, 66%);
                font-family: 'Ubuntu', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                border: none;
                padding: 13px 20px 11px 20px;
                border-radius: 33px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.15);
                margin-right: 15px;
                cursor: pointer;
                transition: 0.2s ease;
            }

            .start:hover {
                background-color: hsl(355, 100%, 74%);
                color: #fff;
            }

            .learn {
                background-color: transparent;
                color: #fff;
                font-family: 'Overpass', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                padding: 13px 20px 11px 20px;
                border: 1px solid #fff;
                border-radius: 33px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.15);
                cursor: pointer;
                transition: 0.2s ease;
            }

            .learn:hover {
                background-color: #fff;
                color: hsl(356, 100%, 66%);
                border: 1px solid transparent;
            }
        }
    }
}

.future {
    margin: 2.5rem 0;
    overflow: hidden;

    .future-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        align-items: center;
    }

        .future-title {
            grid-area: 1/1/1/-1;
            padding: 1rem 0px;
            color: hsl(208, 49%, 24%);
        }

        .future-image {
                grid-area: 2/2/3/-1;
                width: 150%;
                
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
    
        .future-text {
            grid-area: 2/1/2/2;
            padding: 0 1.8vw 0 10vw;
        }

        .future-text p:first-of-type {
            margin-bottom: 80px;
        }
        
}

.infrastructure {
    margin: 2.5rem 0;
    overflow: hidden; 

    .infrastructure-content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(10,1fr);
        align-items: center;

        .infrastructure-image {
            grid-area: 1/1/-1/2;

            img {
                    max-width: 100%;
                    height: auto;
                    padding-left: 4.1vw;
                }
            }
        .second-img {
            grid-area: 2/1/9/-1;
            background: url('images/bg-pattern-circles.svg'), linear-gradient(to bottom right, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
            background-repeat: no-repeat;
            background-size: auto;
            background-position: -50% 80%;
            border-radius: 0 100px;
            z-index: -1;
            height: 400px;
        }

        .infrastructure-text {
            display: grid;
            align-items: center;
            text-align: left;
            grid-area: 2/2/9/-1;
            padding-right: 10vw;

            h2 {
                text-align: left;
                font-weight: 600;
                padding: 0.5rem 0;
            }

            p {
                color: #fff;
                font-weight: 300;
            }
        }

    }
    
}

.features {
    margin: 2.5rem 0;

    .features-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        align-items: center;
        overflow: hidden;
    
            .features-image {
                grid-area: 1/1/-1/2;
                width: 150%;
                margin-left: -39%;
    
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
    
            .features-text {
                grid-area: 1/2/-1/-1;
                margin-right: 10vw;
    
                p:first-of-type {
                    padding-bottom: 80px;
                }
            }
        }
    }


footer {
    width: 100%;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 100px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
    
    padding: 5vw 8vw 5vw 10vw;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h5 {
        color: hsl(0, 0%, 100%);
        padding-bottom: 30px;
        padding-top: 10px;
        font-family: 'Overpass', sans-serif;
    }

    a {
        text-decoration: none;
        color: hsl(240, 2%, 79%);
        font-family: 'Overpass', sans-serif;
        padding-bottom: 15px;
        transition: 0.2s ease;
    }

    a:hover {
        text-decoration: underline;
    }

}

/*   MEDIA   */

@media (max-width: 1350px) {
    
}

@media (max-width: 992px) {
    header .navbar {
        padding: 50px 50px 0 50px;
    
    }
}
@media (max-width: 768px) {

    header {
        height: 1200px;
        border-radius: 0 0 0 200px;
        background-position: 37% 35%;
        background-size: 350% 200%;
    
        .navbar {
            position: relative;
            height: 180px;
            padding: 110px 50px 0px 50px;

            .logo img {
                    width: 170px;
                }
            
            .links.active {
                display: flex;
            }
    
            .links {
                display: none;
                position: absolute;
                top: 250px;
                left: 5%;
                width: 90%;
                height: auto;
                flex-direction: column;
                justify-content: center;
                background-color: #fff;
                border-radius: 10px;
                padding: 60px 0;
                z-index: 3;

                .dropbtn {
                        color: hsl(208, 49%, 24%) !important;
                        margin-right: 0;
                        font-weight: 700;
                        font-size: 1.7rem;
                        border: none;
                        padding-bottom: 70px;

                        .arrow {
                            width: 15px;
                            vertical-align: middle;
                        }
                    }

                .active.dropdown_content {
                        display: flex;
                        position: static;
                        z-index: 5;
                    }
                
                    .dropdown_content {
                        display: none;
                        background-color: #efeff1 !important;
                        margin-bottom: 50px;
                        width: 85%;
                        text-align: center;
                    }

                hr {
                    display: block;
                    width: 80%;
                    height: 2px;
                    border: 1px solid red;
                }


                .login_link {
                    margin: 0 !important;
                    text-align: center;
                    color: hsl(208, 49%, 24%) !important;
                    padding-bottom: 40px;
                    font-size: 1.7rem;
                }

                .authentication .sign_up {
                    background-image: linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
                    color: #fff;
                }
            }

                .hamburger {
                    display: block;
                    transition: transform 0.25s ease;
                }

                .active .line_1 {
                    transform: rotate(-42deg) translateY(18px);
                    background-color: #fff;
                }

                .active .line_2 {
                    opacity: 0;
                }

                .active .line_3 {
                    transform: rotate(42deg) translateY(-18px);
                    background-color: #fff;
                }


            }
        }  
        .hero-section {

            .hero-text h1 {
                margin: 0 14% 40px 14%;
                font-size: 3.5rem;
                line-height: 1.5;
            }

            .hero-text p {
                margin: 0 15% 100px 15%;
                font-size: 1.875rem;
                text-align: center;
            }

            .hero-buttons .start {
                margin-right: 30px;
                font-size: 1.875rem;
                padding: 33px 40px 30px 40px;
                border-radius: 50px;
            }

            .hero-buttons .learn {
                font-size: 1.875rem;
                padding: 33px 40px 30px 40px;
                border-radius: 50px;
            }
        }
        
        .future {

        .future-content {
            // grid-template-rows: repeat(4, 1fr);

            .future-title {
                grid-area: 1/1/1/3;
                font-size: 2.825rem;
            }

            .future-image {
                grid-area: 2/1/4/-2;
                padding: 6.25rem 10% 6.25rem 10%;
            }

            .future-text {
                grid-area: 4/1/-1/-1;
                padding: 6.25rem 10% 6.25rem 10%;
                text-align: center;

                h3 {
                    font-size: 2.825rem;
                    letter-spacing: 1px;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

        footer {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            justify-content: center;
            padding: 0px;

            div {
                align-items: center;
            }
            .logo-footer {
                margin: 0 auto;
                width: 200px;
                justify-content: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            h5 {
                font-size: 1.875rem;
                padding-bottom: 5rem;
            }
            a {
                font-size: 1.875rem;
                padding-bottom: 1.875rem;
            }
            .product-footer,
            .company-footer {
                margin-bottom: 3rem;
            }

        }
    }


@media (max-width: 600px) {

}
