* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
}

main {
  margin: 4.5rem 0 7.5rem 0;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

h3 {
  font-family: "Overpass", sans-serif;
  font-size: 1.575rem;
  font-weight: 600;
  color: hsl(208deg, 49%, 24%);
  padding-bottom: 30px;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(207deg, 13%, 34%);
  line-height: 1.7;
  letter-spacing: 0.025rem;
}

header {
  background-image: url("images/bg-pattern-intro.svg"), linear-gradient(135deg, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-size: 220%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 25% 52%, 0% 0%;
  height: 600px;
  width: 100%;
  border-radius: 0 0 0 90px;
}
header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 50px 10vw 0 10vw;
}
header .navbar .logo {
  margin-right: 60px;
}
header .navbar button {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
header .navbar .links {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  justify-content: space-around;
  justify-items: start;
  width: 100%;
  position: relative;
}
header .navbar .links .active.dropdown_content {
  display: flex;
}
header .navbar .links .dropdown_content {
  display: none;
  position: absolute;
  left: -20px;
  top: 60px;
  background-color: #fff;
  min-width: 160px;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
}
header .navbar .links .dropdown_content a {
  padding-bottom: 20px;
  color: #000;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  transition: 0.2s ease;
}
header .navbar .links .dropdown_content a:hover {
  font-weight: 700;
}
header .navbar .links .dropdown_content a:last-child {
  padding-bottom: 0;
}
header .navbar .links .active.arrow {
  transform: rotate(180deg);
}
header .navbar .links .company {
  left: 5rem;
}
header .navbar .links .connect {
  left: 12rem;
}
header .navbar .links .uName {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
  opacity: 0.8;
}
header .navbar .links .active.uName {
  border-bottom: 2px solid #fff;
  opacity: 1;
}
header .navbar .links .dropbtn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-size: 1rem;
  min-width: 100px;
  text-align: center;
}
header .navbar .links .dropbtn img {
  transition: all 0.3s ease;
}
header .navbar .links .login_link {
  grid-area: 1/7/1/8;
  color: #fff;
  margin-right: 30px;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.2s ease;
}
header .navbar .links .login_link:hover {
  text-decoration: underline;
}
header .navbar .links .sign_up {
  grid-area: 1/8/-1/-1;
  width: 140px;
  background-color: #fff;
  color: hsl(356deg, 100%, 66%);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 15px 35px 13px 35px;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.2s ease;
}
header .navbar .links .sign_up:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: #fff;
}
header .navbar .hamburger {
  display: none;
  color: #fff;
  cursor: pointer;
}
header .navbar .line {
  height: 4px;
  background-color: #fff;
  width: 60px;
  margin-bottom: 10px;
  transition: all 0.35s ease;
}
header .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}
header .hero-section .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .hero-section .hero-text h1 {
  color: #fff;
  font-family: "Overpass", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
header .hero-section .hero-text p {
  color: #fff;
  font-family: "Overpass", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  opacity: 0.9;
}
header .hero-section .hero-buttons .start {
  background-color: #fff;
  color: hsl(356deg, 100%, 66%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 13px 20px 11px 20px;
  border-radius: 33px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}
header .hero-section .hero-buttons .start:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: #fff;
}
header .hero-section .hero-buttons .learn {
  background-color: transparent;
  color: #fff;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 13px 20px 11px 20px;
  border: 1px solid #fff;
  border-radius: 33px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.2s ease;
}
header .hero-section .hero-buttons .learn:hover {
  background-color: #fff;
  color: hsl(356deg, 100%, 66%);
  border: 1px solid transparent;
}

.future {
  margin: 2.5rem 0;
  overflow: hidden;
}
.future .future-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  align-items: center;
}
.future .future-title {
  grid-area: 1/1/1/-1;
  padding: 1rem 0px;
  color: hsl(208deg, 49%, 24%);
}
.future .future-image {
  grid-area: 2/2/3/-1;
  width: 150%;
}
.future .future-image img {
  max-width: 100%;
  height: auto;
}
.future .future-text {
  grid-area: 2/1/2/2;
  padding: 0 1.8vw 0 10vw;
}
.future .future-text p:first-of-type {
  margin-bottom: 80px;
}

.infrastructure {
  margin: 2.5rem 0;
  overflow: hidden;
}
.infrastructure .infrastructure-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-items: center;
}
.infrastructure .infrastructure-content .infrastructure-image {
  grid-area: 1/1/-1/2;
}
.infrastructure .infrastructure-content .infrastructure-image img {
  max-width: 100%;
  height: auto;
  padding-left: 4.1vw;
}
.infrastructure .infrastructure-content .second-img {
  grid-area: 2/1/9/-1;
  background: url("images/bg-pattern-circles.svg"), linear-gradient(to bottom right, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -50% 80%;
  border-radius: 0 100px;
  z-index: -1;
  height: 400px;
}
.infrastructure .infrastructure-content .infrastructure-text {
  display: grid;
  align-items: center;
  text-align: left;
  grid-area: 2/2/9/-1;
  padding-right: 10vw;
}
.infrastructure .infrastructure-content .infrastructure-text h2 {
  text-align: left;
  font-weight: 600;
  padding: 0.5rem 0;
}
.infrastructure .infrastructure-content .infrastructure-text p {
  color: #fff;
  font-weight: 300;
}

.features {
  margin: 2.5rem 0;
}
.features .features-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  align-items: center;
  overflow: hidden;
}
.features .features-content .features-image {
  grid-area: 1/1/-1/2;
  width: 150%;
  margin-left: -39%;
}
.features .features-content .features-image img {
  max-width: 100%;
  height: auto;
}
.features .features-content .features-text {
  grid-area: 1/2/-1/-1;
  margin-right: 10vw;
}
.features .features-content .features-text p:first-of-type {
  padding-bottom: 80px;
}

footer {
  width: 100%;
  background-color: hsl(240deg, 10%, 16%);
  border-radius: 0 100px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  padding: 5vw 8vw 5vw 10vw;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer h5 {
  color: hsl(0deg, 0%, 100%);
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: "Overpass", sans-serif;
}
footer a {
  text-decoration: none;
  color: hsl(240deg, 2%, 79%);
  font-family: "Overpass", sans-serif;
  padding-bottom: 15px;
  transition: 0.2s ease;
}
footer a:hover {
  text-decoration: underline;
}

/*   MEDIA   */
@media (max-width: 992px) {
  header .navbar {
    padding: 50px 50px 0 50px;
  }
}
@media (max-width: 768px) {
  header {
    height: 1200px;
    border-radius: 0 0 0 200px;
    background-position: 37% 35%;
    background-size: 350% 200%;
  }
  header .navbar {
    position: relative;
    height: auto;
    padding: 110px 50px;
  }
  header .navbar .logo img {
    width: 170px;
  }
  header .navbar .links.active {
    display: flex;
  }
  header .navbar .links {
    display: none;
    position: absolute;
    top: 250px;
    left: 5%;
    width: 90%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 60px 0;
    z-index: 3;
  }
  header .navbar .links .dropbtn {
    margin-right: 0;
    font-weight: 700;
    font-size: 1.7rem;
    border: none;
    padding-bottom: 60px;
  }
  header .navbar .links .dropbtn .arrow {
    width: 15px;
    vertical-align: middle;
  }
  header .navbar .links .dropbtn .active.uName {
    opacity: 0.8;
  }
  header .navbar .links .dropbtn .uName {
    color: hsl(208deg, 49%, 24%);
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 1;
  }
  header .navbar .links .active.dropdown_content {
    display: flex;
    position: static;
    z-index: 5;
  }
  header .navbar .links .dropdown_content {
    display: none;
    background-color: #efeff1 !important;
    margin-bottom: 40px;
    width: 85%;
    text-align: center;
    box-shadow: none;
    border-radius: 10px;
    padding: 50px 0 0 0;
  }
  header .navbar .links .dropdown_content a:last-child {
    padding-bottom: 50px;
  }
  header .navbar .links .dropdown_content a {
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: hsl(208deg, 49%, 24%);
    opacity: 0.8;
    padding-bottom: 50px;
  }
  header .navbar .links hr {
    display: block;
    width: 85%;
    height: 2px;
    border: 1px solid #efeff1;
    margin-bottom: 70px;
  }
  header .navbar .links .login_link {
    margin: 0 !important;
    text-align: center;
    color: hsl(208deg, 49%, 24%) !important;
    padding-bottom: 40px;
    font-size: 1.7rem;
  }
  header .navbar .links .sign_up {
    background-image: linear-gradient(135deg, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
    color: #fff;
    padding: 30px 75px;
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .navbar .hamburger {
    display: block;
    transition: transform 0.25s ease;
  }
  header .navbar .active .line_1 {
    transform: rotate(-42deg) translateY(18px);
    background-color: #fff;
  }
  header .navbar .active .line_2 {
    opacity: 0;
  }
  header .navbar .active .line_3 {
    transform: rotate(42deg) translateY(-18px);
    background-color: #fff;
  }
  header .hero-section {
    margin: 100px 0;
  }
  header .hero-section .hero-text h1 {
    margin: 0 10% 40px 10%;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  header .hero-section .hero-text p {
    margin: 0 15% 100px 15%;
    font-size: 1.875rem;
    text-align: center;
  }
  header .hero-section .hero-buttons .start {
    margin-right: 30px;
    font-size: 1.875rem;
    padding: 30px 40px 27px 40px;
    border-radius: 50px;
  }
  header .hero-section .hero-buttons .learn {
    font-size: 1.875rem;
    padding: 30px 40px 27px 40px;
    border-radius: 50px;
  }
  .future .future-content {
    width: 100%;
  }
  .future .future-content .future-title {
    grid-area: 1/1/1/3;
    font-size: 2.825rem;
    padding: 7.5rem 0px 6.25rem;
  }
  .future .future-content .future-image {
    height: auto;
    width: 100%;
    grid-area: 2/1/3/3;
    text-align: center;
  }
  .future .future-content .future-text {
    grid-area: 3/1/-1/-1;
    padding: 6.25rem 10% 6.25rem 10%;
    text-align: center;
  }
  .future .future-content .future-text h3 {
    font-size: 2.825rem;
    letter-spacing: 1px;
  }
  .future .future-content .future-text p {
    font-size: 1.875rem;
  }
  .infrastructure .infrastructure-content {
    grid-template-rows: repeat(8, 1fr);
  }
  .infrastructure .infrastructure-content .infrastructure-image {
    grid-area: 1/1/4/3;
    text-align: center;
  }
  .infrastructure .infrastructure-content .second-img {
    grid-area: 2/1/9/-1;
    height: 1200px;
    background-position: center top -250%;
    background-size: 200%;
    border-radius: 0 250px;
  }
  .infrastructure .infrastructure-content .infrastructure-text {
    text-align: center;
    grid-area: 2/1/9/-1;
    padding: 6.25rem 10%;
  }
  .infrastructure .infrastructure-content .infrastructure-text h2 {
    text-align: center;
    font-size: 3.5rem;
    padding: 100px 0 70px 0;
  }
  .infrastructure .infrastructure-content .infrastructure-text p {
    font-size: 1.875rem;
    font-weight: 400;
    font-family: "Overpass", sans-serif;
  }
  .features .features-content {
    width: 100%;
  }
  .features .features-content .features-image {
    grid-area: 1/1/2/3;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 5%;
  }
  .features .features-content .features-text {
    grid-area: 2/1/3/-1;
    text-align: center;
    padding: 6.25rem 10% 4.25rem 10%;
    margin: auto;
  }
  .features .features-content .features-text h3 {
    font-size: 2.825rem;
    letter-spacing: 1px;
  }
  .features .features-content .features-text p {
    font-size: 1.875rem;
  }
  footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    padding: 0px;
  }
  footer div {
    align-items: center;
  }
  footer .logo-footer {
    margin: 0 auto;
    width: 200px;
    justify-content: center;
  }
  footer .logo-footer img {
    width: 100%;
    height: auto;
  }
  footer h5 {
    font-size: 1.875rem;
    padding-bottom: 5rem;
  }
  footer a {
    font-size: 1.875rem;
    padding-bottom: 1.875rem;
  }
  footer .product-footer,
footer .company-footer {
    margin-bottom: 3rem;
  }
}
@media (max-width: 600px) {
  header .hero-section .hero-buttons .start {
    font-size: 1.375rem;
    padding: 20px 30px 18px 30px;
    border-radius: 50px;
  }
  header .hero-section .hero-buttons .learn {
    font-size: 1.375rem;
    padding: 20px 30px 18px 30px;
    border-radius: 50px;
  }
}
@media (max-width: 480px) {
  header .hero-section .hero-buttons .start {
    margin-right: 30px;
    font-size: 0.975rem;
    padding: 15px 20px 14px 20px;
    border-radius: 33px;
  }
  header .hero-section .hero-buttons .learn {
    font-size: 0.975rem;
    padding: 15px 20px 14px 20px;
    border-radius: 50px;
  }
  .infrastructure .infrastructure-content .second-img {
    background-position: center top 150%;
    background-size: 200%;
    border-radius: 0 250px;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  p {
    font-size: 1.375rem !important;
  }
}/*# sourceMappingURL=style.css.map */