* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
}

header {
  background-image: url("images/bg-pattern-intro.svg"), linear-gradient(135deg, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-size: 220%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 25% 52%, 0% 0%;
  height: 600px;
  width: 100%;
  border-radius: 0 0 0 90px;
}
header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 50px 160px 0 160px;
}
header .navbar .logo {
  margin-right: 60px;
}
header .navbar .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .navbar .links .nav-links {
  display: flex;
}
header .navbar .links .nav-links .dropdown {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  margin-right: 30px;
  background-color: inherit;
  opacity: 0.8;
  transition: all 0.2s ease;
}
header .navbar .links .nav-links .dropdown .dropdown_product .dropbtn, header .navbar .links .nav-links .dropdown .dropdown_company .dropbtn, header .navbar .links .nav-links .dropdown .dropdown_connect .dropbtn {
  background-color: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;
}
header .navbar .links .nav-links .dropdown .dropdown_product .dropbtn:hover, header .navbar .links .nav-links .dropdown .dropdown_company .dropbtn:hover, header .navbar .links .nav-links .dropdown .dropdown_connect .dropbtn:hover {
  color: hsl(207deg, 13%, 34%) !important;
}
header .navbar .links .nav-links .dropdown .dropdown_product img, header .navbar .links .nav-links .dropdown .dropdown_company img, header .navbar .links .nav-links .dropdown .dropdown_connect img {
  transition: all 0.2s ease;
}
header .navbar .links .nav-links .dropdown:hover img {
  transform: rotate(180deg);
}
header .navbar .links .nav-links .dropdown:hover {
  opacity: 1;
}
header .navbar .links .nav-links .dropdown:last-child {
  margin-right: 0;
}
header .navbar .links .nav-links .dropdown:hover .dropdown_content {
  display: flex;
}
header .navbar .links .nav-links .dropdown_content {
  display: none;
  position: absolute;
  left: -20px;
  top: 70px;
  background-color: #fff;
  min-width: 170px;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
}
header .navbar .links .nav-links .dropdown_content a {
  padding-bottom: 20px;
  color: #000;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  transition: 0.2s ease;
}
header .navbar .links .nav-links .dropdown_content a:hover {
  font-weight: 700;
}
header .navbar .links .nav-links .dropdown_content a:last-child {
  padding-bottom: 0;
}
header .navbar .authentication .login_link {
  color: #fff;
  margin-right: 30px;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 0.85rem;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.2s ease;
}
header .navbar .authentication .login_link:hover {
  text-decoration: underline;
}
header .navbar .authentication .sign_up {
  background-color: #fff;
  color: hsl(356deg, 100%, 66%);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 15px 35px 13px 35px;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.2s ease;
}
header .navbar .authentication .sign_up:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: #fff;
}
header .navbar .hamburger {
  display: none;
  color: #fff;
  cursor: pointer;
}
header .navbar .line {
  height: 4px;
  background-color: #fff;
  width: 60px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}
header .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}
header .hero-section .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .hero-section .hero-text h1 {
  color: #fff;
  font-family: "Overpass", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
header .hero-section .hero-text p {
  color: #fff;
  font-family: "Overpass", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  opacity: 0.9;
}
header .hero-section .hero-buttons .start {
  background-color: #fff;
  color: hsl(356deg, 100%, 66%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 13px 20px 11px 20px;
  border-radius: 33px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}
header .hero-section .hero-buttons .start:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: #fff;
}
header .hero-section .hero-buttons .learn {
  background-color: transparent;
  color: #fff;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 13px 20px 11px 20px;
  border: 1px solid #fff;
  border-radius: 33px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.2s ease;
}
header .hero-section .hero-buttons .learn:hover {
  background-color: #fff;
  color: hsl(356deg, 100%, 66%);
  border: 1px solid transparent;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding-bottom: 30px;
}

h3 {
  font-family: "Overpass", sans-serif;
  font-size: 1.575rem;
  font-weight: 600;
  color: hsl(208deg, 49%, 24%);
  padding-bottom: 30px;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(207deg, 13%, 34%);
  line-height: 1.7;
  letter-spacing: 0.025rem;
}

.future {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.future .future-image {
  width: 100%;
  height: auto;
}
.future .future-image img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 70px;
  right: -280px;
}
.future .future-text {
  max-width: 550px;
  margin-left: 160px;
}
.future .future-text p:nth-child(2) {
  padding-bottom: 80px;
}
.future .future-title {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  color: hsl(208deg, 49%, 24%);
  text-align: center;
  font-size: 2.5rem;
}

.infrastructure {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  position: relative;
  height: 400px;
  background-color: hsl(237deg, 17%, 21%);
  background-image: url("images/bg-pattern-circles.svg"), linear-gradient(to bottom right, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  background-repeat: no-repeat, no-repeat;
  background-position: bottom -100px left -215px, 0% 0%;
  border-radius: 0 100px 0 100px;
}
.infrastructure .infrastructure-image {
  width: 50%;
  height: auto;
}
.infrastructure img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -70px;
  left: 120px;
}
.infrastructure .infrastructure-text {
  width: 50%;
  max-width: 550px;
}
.infrastructure .infrastructure-text p {
  color: #fff;
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
}
.features .features-image {
  width: 100%;
  height: auto;
}
.features .features-image img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 70px;
  left: -280px;
}
.features .features-text {
  max-width: 550px;
  margin-right: 160px;
}
.features .features-text p:nth-child(2) {
  padding-bottom: 80px;
}

footer {
  width: 100%;
  background-color: hsl(240deg, 10%, 16%);
  border-radius: 0 100px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 70px 140px 70px 160px;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer h5 {
  color: hsl(0deg, 0%, 100%);
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: "Overpass", sans-serif;
}
footer a {
  text-decoration: none;
  color: hsl(240deg, 2%, 79%);
  font-family: "Overpass", sans-serif;
  padding-bottom: 15px;
  transition: 0.2s ease;
}
footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1350px) {
  .future, .infrastructure, .features {
    margin: auto;
  }
  .future .future-text, .infrastructure-text, .features-text {
    margin-right: 20px;
    max-width: 500px;
  }
  .future .future-text {
    margin-left: 120px;
  }
  .future-image img, .infrastructure-image img, .features-image img {
    position: static;
  }
}
@media (max-width: 992px) {
  header .navbar {
    padding: 50px 50px 0 50px;
  }
  .future {
    margin-top: 100px;
  }
  .future .future-content {
    margin-top: 50px;
  }
  .future .future-text {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  header {
    height: 1200px;
  }
  header .navbar {
    position: relative;
    height: 180px;
    padding: 110px 50px 0px 50px;
  }
  header .navbar .logo img {
    width: 170px;
  }
  header .navbar .links.active {
    display: flex;
  }
  header .navbar .links {
    display: none;
    position: absolute;
    top: 250px;
    left: 5%;
    width: 90%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 60px;
  }
  header .navbar .links .nav-links {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
  }
  header .navbar .links .nav-links .dropdown {
    margin: auto !important;
  }
  header .navbar .links .nav-links .dropdown picture img {
    width: 15px;
    margin: 0 0 3px 5px;
  }
  header .navbar .links .nav-links .dropdown .dropbtn {
    color: hsl(208deg, 49%, 24%) !important;
    margin-right: 0;
    font-weight: 700;
    font-size: 1.7rem;
    z-index: 2;
  }
  header .navbar .links .nav-links .dropdown .dropbtn:hover {
    border-bottom: none;
  }
  header .navbar .links .nav-links .dropdown .dropdown_content {
    display: none;
    background-color: #efeff1 !important;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150%;
    margin: auto;
  }
  header .navbar .authentication {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .navbar .authentication .login_link {
    margin: 0 !important;
    text-align: center;
    color: hsl(208deg, 49%, 24%) !important;
    padding-bottom: 40px;
    font-size: 1.7rem;
  }
  header .navbar .authentication .authentication .sign_up {
    background-image: linear-gradient(135deg, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
    color: #fff;
  }
  header .navbar .hamburger {
    display: block;
    transition: transform 0.25s ease;
  }
  header .navbar .hamburger .active .line_1 {
    transform: rotate(-45deg) translateY(20px);
    background-color: #fff;
  }
  header .navbar .hamburger .active .line_2 {
    opacity: 0;
  }
  header .navbar .hamburger .active .line_3 {
    transform: rotate(45deg) translateY(-20px);
    background-color: #fff;
  }
  header .hero-section {
    margin-top: 210px;
  }
  header .hero-section .hero-text h1 {
    margin: 0 14% 40px 14%;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  header .hero-section .hero-text p {
    margin: 0 15% 100px 15%;
    font-size: 1.875rem;
    text-align: center;
  }
  header .hero-section .hero-buttons .start {
    margin-right: 30px;
    font-size: 1.875rem;
    padding: 33px 40px 30px 40px;
    border-radius: 50px;
  }
  header .hero-section .hero-buttons .learn {
    font-size: 1.875rem;
    padding: 33px 40px 30px 40px;
    border-radius: 50px;
  }
  .future {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .future .future-title {
    position: static;
    justify-content: center;
    transform: none;
  }
  .future .future-text {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */