* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header {
    background-color: hsl(355, 100%, 74%);
    background-image: url('images/bg-pattern-intro.svg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    border-radius: 0 0 0 90px;

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        padding: 50px 160px 0 160px;


        .logo_and_links {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                margin-right: 60px;
            }
    
            .nav-links {
                display: flex;
    
                .dropdown {
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: 70px;
                    margin-right: 30px;
                    background-color: inherit;
                    opacity: 0.8;
                    transition: all 0.2s ease;

                    .dropdown_product, .dropdown_company, .dropdown_connect {

                        .dropbtn {
                            background-color: inherit;
                            border: none;
                            color: #fff;
                            cursor: pointer;
                            font-family: 'Ubuntu', sans-serif;
                            font-weight: 500;
                            letter-spacing: 0.3px;
                        }
    
                        .dropbtn:hover {
                            border-bottom: 2px solid #fff;
                        }

                        img {
                            transition: all 0.2s ease;
                        }
                       
                    }

                }

                .dropdown:hover img {
                    transform: rotate(180deg);
                }
                .dropdown:hover {
                    opacity: 1;
                }

                .dropdown:last-child {
                    margin-right: 0;
                }
    
                .dropdown:hover .dropdown_content {
                    display: flex;
                }
        
                .dropdown_content {
                    display: none;
                    position: absolute;
                    left: -20px;
                    top: 70px;
                    background-color: #fff;
                    min-width: 170px;
                    flex-direction: column;
                    border-radius: 5px;
                    padding: 30px 20px;
                    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 7px 10px rgba(0,0,0,0.15);
                    transition: 0.2s ease;
    
                    a {
                        padding-bottom: 20px;
                        color: #000;
                        text-decoration: none;
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 400;
                        transition: 0.2s ease;
                    }
    
                    a:hover {
                        font-weight: 700;
                    }
    
                    a:last-child {
                        padding-bottom: 0;
                    }
                }
            }

        }

        .authentication {
            .login_link {
                color: #fff;
                margin-right: 30px;
                font-family: 'Overpass', sans-serif;
                font-weight: 700;
                font-size: 0.85rem;
                text-decoration: none;
                opacity: 0.9;
                transition: 0.2s ease;
            }

            .login_link:hover {
                text-decoration: underline;
            }

            .sign_up {
                background-color: #fff;
                color: hsl(356, 100%, 66%);
                font-family: 'Overpass', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                border: none;
                padding: 15px 35px 13px 35px;
                border-radius: 50px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.15);
                cursor: pointer;
                transition: 0.2s ease;
            }

            .sign_up:hover {
                background-color: hsl(355, 100%, 74%);
                color: #fff;
            }
        }
        
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 100px);

        .hero-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                color: #fff;
                font-family: 'Overpass', sans-serif;
                font-size: 4rem;
                font-weight: 600;
                margin-bottom: 10px;
            }

            p {
                color: #fff;
                font-family: 'Overpass', sans-serif;
                font-size: 1.25rem;
                font-weight: 500;
                margin-bottom: 40px;
                letter-spacing: 1px;
                opacity: 0.9;
            }
        }

        .hero-buttons {
            .start {
                background-color: #fff;
                color: hsl(356, 100%, 66%);
                font-family: 'Overpass', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                border: none;
                padding: 13px 20px 11px 20px;
                border-radius: 33px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.15);
                margin-right: 15px;
                cursor: pointer;
                transition: 0.2s ease;
            }

            .start:hover {
                background-color: hsl(355, 100%, 74%);
                color: #fff;
            }

            .learn {
                background-color: hsl(356, 100%, 66%);
                color: #fff;
                font-family: 'Overpass', sans-serif;
                font-weight: 700;
                font-size: 1rem;
                border: none;
                padding: 13px 20px 11px 20px;
                border: 1px solid #fff;
                border-radius: 33px;
                box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.15);
                cursor: pointer;
                transition: 0.2s ease;
            }

            .learn:hover {
                background-color: #fff;
                color: hsl(356, 100%, 66%);
                border: 1px solid transparent;
            }
        }
    }

}

.infrastructure {
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: hsl(237, 17%, 21%);
    background-image: url('images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center left;
    border-radius: 0 100px 0 100px;
    position: relative;

    .infrastructure-image{
        position: absolute;
        top: -70px;
        left: 120px;


        .infrastructure-image img {
            width: 100%;
            height: auto;
            }
    }

    

    .infrastructure-text {
        max-width: 530px;
        margin-left: 60px;

        h3 {
            font-family: 'Overpass', sans-serif;;
            font-size: 2rem;
            font-weight: 600;
            color: #fff;
            padding-bottom: 30px;
        }

        p {
            font-family: 'Ubuntu', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            line-height: 1.7;
            letter-spacing: .025rem;
        }
    }

}

.features {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 60px auto 120px auto;
    align-items: center;

    .features-image {
        position: relative;
        
        // width: 100%;
        // height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 100px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .features-text {
        max-width: 550px;
        padding: 20px;

        h4 {
            font-family: 'Overpass', sans-serif;;
            font-size: 1.575rem;
            font-weight: 600;
            color: hsl(208, 49%, 24%);
            padding-bottom: 30px;
        }

        p {
            font-family: 'Ubuntu', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color: hsl(207, 13%, 34%);
            line-height: 1.7;
        }

        p:nth-child(2) {
            padding-bottom: 80px;
        }
    }
    
}

footer {
    width: 100%;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 100px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // justify-content: start;
    padding: 70px 140px 70px 160px;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h5 {
        color: hsl(0, 0%, 100%);
        padding-bottom: 30px;
        padding-top: 10px;
        font-family: 'Overpass', sans-serif;
    }

    a {
        text-decoration: none;
        color: hsl(240, 2%, 79%);
        font-family: 'Overpass', sans-serif;
        padding-bottom: 15px;
        transition: 0.2s ease;
    }

    a:hover {
        text-decoration: underline;
    }

}

