* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-size: 16px;
}

main {
    max-width: 1440px;
}

.container {
    min-height: 100vh;
    display: flex;
}

.imageSide {
    width: 42%; 
}

.imageBg {
    background-image: url("images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.imageSide img {
    width: 100%;
    height: auto;
}

.newsLetters {
    display: flex;
    flex-direction: column;
    width: 58%;
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: cover;
    padding: 0 40px;
}

.logoBase {
    margin-top: 60px;
    margin-bottom: 120px;
}

.heading {
    max-width: 100%;
    margin-bottom: 35px;
}

h1 {
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
    color: hsl(0, 6%, 24%);
    letter-spacing: 10px;
    line-height: 1.1;
}

.specialText {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    display: block;
}


.textBox {
    max-width: 450px;
    margin-bottom: 35px;
}

.textBox p {
    color: hsl(0, 36%, 70%);
    line-height: 25px;
    font-size: .975rem;
    font-weight: 600;
}

.subscribe {
    position: relative;
}

.subscribe.error {

}

.subscribe input {
    background-color: transparent;
    width: 100%;
    border-radius: 50px;
    padding: 15px 30px;
    border: 1px solid hsl(0, 36%, 70%);
    font-size: 1rem;
    height: 55px;
}

.subscribe.error input {
   border: 2px solid hsl(0, 93%, 68%);
}

.subscribe button {
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
   box-shadow: 2px 5px 10px hsl(0, 36%, 70%, 0.5);
   border: none;
   border-radius: 50px;
   padding: 15px;
   width: 100px;
   position: absolute;
   top: 0;
   right: 0;
   height: 55px;
   cursor: pointer;
}

.subscribe button:hover {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
 }

.error-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 110px;
}

form.error .error-icon {
    display: block;
}

small {
    display: none;
    margin-top: 10px;
    margin-left: 30px;
    color: hsl(0, 93%, 68%);
}

form.error small {
    display: block;
}




