* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(230, 100%, 99%);
}

main {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  background-image: url("images/bg-pattern.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  background-image: url("images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 50px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: hsl(227, 35%, 25%);
  text-align: center;
}

header p {
  color: hsl(225, 20%, 60%);
  text-align: center;
}

.pricingCard {
  background-color: #fff;
  width: 540px;
  border-radius: 10px;
  padding: 40px 0 30px 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07), 0 10px 20px rgba(0, 0, 0, 0.1);
}

.displayInfo,
.trialSection {
  padding: 0 40px;
}

.displayInfo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
}

.views {
  grid-area: 1 /1 / 2 / 2;
  color: hsl(225, 20%, 60%);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 25px;
}

.views span {
  padding-right: 5px;
}

.price {
  align-items: center;
  font-size: 2.575rem;
  font-weight: 800;
  margin-right: 5px;
  color: hsl(227, 35%, 25%);
}

.pricePer {
  padding-bottom: 25px;
  grid-area: 1 / 2 / 2 / -1;
  display: flex;
  align-items: center;
  color: hsl(225, 20%, 60%);
}

.pricePer p {
  font-size: 2.7rem;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
}

/*    Range Slider   */

.rangeSlider {
  width: 100%;
  cursor: pointer;
  grid-area: 2 / 1 / 3 / 3;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

/*  progress support  */

input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type="range"]::-webkit-slider-runnable-track {
  /* background-color: hsl(174, 77%, 80%); */
  background: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%)) 0 /
      var(--sx) 100% no-repeat,
    hsl(223, 50%, 87%);
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
  height: 8px;
  margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-color: hsl(174, 77%, 80%);
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-top: -16px;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease;
  box-shadow: 0 10px 15px hsl(175, 93%, 88%), 0 20px 30px hsl(175, 95%, 77%);
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: hsl(174, 86%, 45%);
}

/*     Toggle    */

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  position: relative;
  width: 44px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: hsl(223, 50%, 87%);
  border-radius: 50px;
  margin: 0 15px;
  transition: all 0.25s ease;
  cursor: pointer;
}

.label:hover {
  background-color: hsl(174, 77%, 80%);
}

.ball {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.checkbox:checked + .label .ball {
  transform: translateX(22px);
}

.checkbox:checked + .label {
  background-color: hsl(174, 77%, 80%);
}

.line {
  width: 100%;
  margin: 30px 0;
  background-color: hsl(224, 65%, 95%);
  height: 1px;
  border: none;
}

.billingInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 15px 40px;
  color: hsl(225, 20%, 60%);
}

.billingInfo small {
  margin-left: 10px;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  font-weight: 600;
  border-radius: 50px;
  padding: 2px 7px;
}

.trialSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features p {
  margin-bottom: 15px;
  color: hsl(225, 20%, 60%);
}

.features p:last-child {
  margin-bottom: 0;
}

.features p img {
  margin-right: 15px;
}

.btn .trial {
  padding: 12px 40px;
  border-radius: 33px;
  border: 0;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn .trial:hover {
  color: #fff;
}

.btn .trial:active {
  transform: scale(0.97);
}

.minus {
  display: none;
}

@media (max-width: 750px) {
  main {
    background-position: top left;
    background-size: 250%;
  }

  .pricingCard {
    height: auto;
    width: 90%;
    padding: 60px 0;
  }

  header {
    background-size: 37%;
  }

  header h1 {
    font-size: 2.625rem;
    padding-bottom: 30px;
  }

  header p {
    font-size: 1.625rem;
    width: 55%;
    padding-bottom: 70px;
  }

  .displayInfo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "views"
      "rangeSlider"
      "pricePer";
    place-items: center;
  }

  .views {
    grid-area: views;
  }

  .views p {
    font-size: 1.375rem;
  }

  .rangeSlider {
    grid-area: rangeSlider;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
  }

  input[type="range"]::-webkit-slider-thumb {
    background-size: 60%;
    width: 70px;
    height: 70px;
    margin-top: -30px;
  }

  .pricePer {
    grid-area: pricePer;
  }

  .pricePer p {
    font-size: 4rem;
  }

  .price {
    font-size: 3.8rem;
  }

  .month {
    font-size: 1.375rem;
  }

  .billingInfo {
    font-size: 1.5rem;
  }

  .label {
    width: 80px;
    height: 42px;
  }

  .ball {
    top: 10px;
    left: 9px;
    width: 24px;
    height: 24px;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(36px);
  }

  .trialSection {
    flex-direction: column;
  }

  .features {
    margin: 20px auto 60px auto;
  }

  .features p {
    text-align: center;
    font-size: 1.35rem;
  }

  .btn .trial {
    padding: 25px 80px;
    font-size: 2rem;
    border-radius: 50px;
  }

  .disc {
    display: none;
  }

  .minus {
    display: inline;
  }
}
