* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Kubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
}

main {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(255px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "user work play study"
    "user exercise social self-care";
    gap: 25px;
}

.user-card {
    grid-area: user;
}

.work {
    grid-area: work;
}

.play {
    grid-area: play;
}

.study {
    grid-area: study;
}

.exercise {
    grid-area: exercise;
}

.social {
    grid-area: social;
}

.activity {
    background-color: hsl(235, 46%, 20%);
    color: #fff;
}
