* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Kubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
}

main {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    gap: 25px;
}

.activity {
    background-color: hsl(235, 46%, 20%);
    color: #fff;
}
